.card {
  &__image {
    display: block;
    width: 100%;
    height: auto;
    grid-area: img;
  }
  &__title {
    font-size: 1rem;
    font-weight: 700;
    grid-area: hed;
    text-decoration: none;
    color: white;
  }
  &__description {
    font-size: 0.875rem;
    grid-area: des;
  }
  &__info {
    display: flex;
    align-items: baseline;
    &-price {
      font-size: 1rem;
    }
    &-weight {
      font-size: 0.875rem;
    }
  }
}
