.card {
  &__image {
    display: block;
    width: 16.875rem;
    height: 16.875rem;
  }
  &__title {
    font-size: 1rem;
    font-weight: 700;
  }
  &__description {
    font-size: 0.875rem;
  }
  &__info {
    display: flex;
    align-items: baseline;
    &-price {
      font-size: 1rem;
    }
    &-weight {
      font-size: 0.875rem;
    }
  }
}
